<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385128216208-018f6e9rapkbv5bt25rq6pptt3allklm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385128216208-018f6e9rapkbv5bt25rq6pptt3allklm</string>
	<key>API_KEY</key>
	<string>AIzaSyAyq04_EOzUPsROBDSA3YOOuN5c2_ks1FY</string>
	<key>GCM_SENDER_ID</key>
	<string>385128216208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.andreipopovici.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-67f7e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-67f7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385128216208:ios:e0b3c725d0e950ca9b0a15</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-67f7e.firebaseio.com</string>
</dict>
</plist>